body{    
    background: url('https://images.unsplash.com/photo-1560977501-7cb367eccebe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80');     
    background-size: cover;
    position: fixed;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 50%;
    height: 50vh;
}
.card:hover{
    /* transform:translateY(-5px); */
    /* transition: 0.5s; */
}
.container{
    margin-top: 10rem;
    margin-left: 24rem;
}
.text{
    font-size: 25px;
    
}
.btn{
    background-color: blue;
    color: white;
}
.footer{
    margin-top: 70px;
    color: whitesmoke;
    margin-left: 10px;
    
}